{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <h1 class="mb-4 text-center">Final+Individual Task</h1>
  <h2 class="subtitle text-center">by Mantas Peciukevicius</h2>
  <hr />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="title is-3 mb-4">Plant App</h3>
      <ul class="text-left" style="list-style-type: disc">
        <li>Create, edit, and delete plant groups</li>
        <li>Add, remove, and edit plants and their characteristics</li>
        <li>Assign plant groups to friends to share and track plants</li>
        <li>Track the watering history of individual plants</li>
        <li>Remove the last watering entry if entered accidentally</li>
        <li>
          Pre-select today's date when watering plants, but select a custom date
          in the calendar
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="title is-3 mb-4">Department Project Management App</h3>
      <ul class="text-left" style="list-style-type: circle">
        <li>Create, edit, and delete departments and projects</li>
        <li>Assign projects to departments and vice versa</li>
        <li>
          Pre-populate information if the project is already assigned to a
          department and vice versa
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="title is-3 mb-4">Bill Split App</h3>
      <ul class="text-left" style="list-style-type: square">
        <li>Enter expenses and split them among friends</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
