{% extends "base.html" %} {% block content %}
<h1>{{ group.name }}</h1>

{% for intermediary, last_watered in plants %}
<div class="plant-block">
  <div class="plant-name">{{ intermediary.plant.name }}</div>
  <div class="plant-watering-frequency">
    Needs to be watered once in {{ intermediary.plant.watering_frequency }} days
  </div>
  <img
    src="{{ intermediary.plant.picture }}"
    alt="{{ intermediary.plant.name }}"
    class="plant-picture"
  />
  <div class="plant-water-status">
    {% if last_watered == "No watering data" %}
    <div class="plant-watering-overdue">Never watered</div>
    {% else %} {% set days_since_last_watering = (current_date -
    last_watered).days %} {% set days_until_next_watering =
    intermediary.plant.watering_frequency - days_since_last_watering %} {% if
    days_since_last_watering == 0 %}
    <div class="plant-watered-today">Plant watered today</div>
    {% elif days_since_last_watering > intermediary.plant.watering_frequency %}
    <div class="plant-watering-overdue">
      Watering overdue by {{ days_since_last_watering -
      intermediary.plant.watering_frequency }} days
    </div>
    {% else %}
    <div class="plant-next-watering">
      Days until next watering: {{ days_until_next_watering }}
    </div>
    {% endif %} {% endif %}
  </div>
  <div class="plant-comment-form">
    <form method="POST" action="{{ url_for('plants.update_plant') }}">
      <input
        type="hidden"
        name="plant_id"
        value="{{ intermediary.plant.id }}"
      />
      <input
        type="hidden"
        name="group_id"
        value="{{ intermediary.plant_group_id }}"
      />
      <textarea name="comment" placeholder="Add a comment...">
{{ last_watered.comment if last_watered else "" }}</textarea
      >
      <input
        type="date"
        name="watering_date"
        value="{{ current_date.strftime('%Y-%m-%d') }}"
      />
      <button type="submit">Update</button>
    </form>
  </div>
</div>
{% endfor %} {% endblock %}
