{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
content %}

<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to
      <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %} {% endwith %}
    <form method="POST" action="{{ url_for('auth.signup') }}">
      {{ form.hidden_tag() }} {{ wtf.form_field(form.email, label={'class':
      'label'}, class='input') }} {{ wtf.form_field(form.name, label={'class':
      'label'}, class='input') }} {{ wtf.form_field(form.password,
      label={'class': 'label'}, class='input') }} {{
      wtf.form_field(form.confirm_password, label={'class': 'label'},
      class='input') }} {{ wtf.form_field(form.submit) }} {% if errors %}
      <div class="notification is-danger">
        {% for field, error_msgs in errors.items() %} {% for msg in error_msgs
        %} {{ field }} - {{ msg }}<br />
        {% endfor %} {% endfor %}
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}```
